<section class="cart">
  <h2 class="cart-title">Product Cart</h2>
  <form
    [formGroup]="userForm"
    (ngSubmit)="onFormSubmit()"
    class="cart-form"
  >
    <label>
      name:
      <input formControlName="name" type="text" name="name">
    </label>
    <label>
      email:
      <input formControlName="email" type="text" name="email">
    </label>
    <button type="submit">Submit</button>
  </form>
  <p>Your purchases go hear</p>
  <a
    routerLink="/shipping"
    class="cart-link"
  >
    Shipping prices
  </a>
  <ul
    *ngIf="cartItems.length"
    class="cart-list"
  >
    <li
      *ngFor="let item of cartItems"
      class="cart-item"
    >
      <h3>{{item.name}}</h3>
      <strong>{{item.price}}</strong>
    </li>
  </ul>
</section>
